[Desktop Entry]
Name=PresenterBuddy
Exec=presenterbuddy %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
StartupWMClass=PresenterBuddy
Comment=Show song lyrics and more for free!
Categories=AudioVideo;
